body {
    font-family: font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    box-sizing:border-box;
    flex-wrap: wrap;
} 
.header {
    background-image: url("images/yahta-korabl-ptica-chayka.jpg");
    width: 100%;
    height: 80px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.container {
    background-color:#08283d;
}
.title-container {
    max-width: 1024px;
    margin: 0 auto;
    
}
.title {
    color: white;
    font-size: 46px;
    font-weight: 300;
    padding-top: 30px;
    padding-bottom: 30px;
}

.background-main {
    background-color: #f2f2f2;
    background-size: contain;
    min-height: 1000px;
}
.main {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.books {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-right: 20px;
    margin-top: 40px;
    padding-top: 20px;
    row-gap: 5px;
    overflow: hidden;
    box-shadow: 8px 5px 5px rgb(163, 163, 163);
}
.image {
    height: 200px;
}
.title-book {
    font-size: 20px;
    font-weight: 400;
}
.gray {
    color: rgb(122, 122, 122);
    font-size: 12px;
}
.button {
    display: flex;
    flex-direction: row;
}
.style-button {
    cursor: pointer;
    background-color: white;
    border:  1px solid rgb(163, 163, 163);
    height: 60px;
    width: 150px;
    border-bottom: none;
}
.style-button:hover {
    background-color:#1c3444;
    color: white;
}
.left {
    border-left: none;
    border-right: none;
}
.right {
    border-right: none;
}

@media(max-width:1024px){
.title {
    padding-left: 20px;
    padding-top: 20px;
    font-size:28px ;
}
.main {
    margin-left: 20px;
    padding-bottom: 20px;
}
}
@media(max-width:660px){
    .main {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
}